# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Compiling Folders
bin
obj

# Icon Resources from my File System
C#.ico
Content.ico
Data.ico
Effects.ico
Executable.ico
Folder.ico
Fonts.ico
Games.ico
Gears.ico
Images.ico
Languages.ico
Music.ico
Project.ico
Resources.ico
Sounds.ico
Source.ico
Videos.ico
Windows.ico

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
